{%extends 'base.html'%}

<!--crispy form-->
{%load crispy_forms_tags%}

<!--Page content-->
{% block content %}
<div class="container">
    
    <hr>
    <form  method="POST" autocomplete="off">
        {%csrf_token%}
        <!--fields-->
        {{form.Asset_Type|as_crispy_field}}
        {{form.Asset_Name|as_crispy_field}}
        {{form.asset_location|as_crispy_field}}
        {{form.Asset_Model|as_crispy_field}}
        {{form.Serial_No|as_crispy_field}}
        {{form.Mac_address|as_crispy_field}}
        {{form.RAM_Size|as_crispy_field}}
        {{form.HDD_Size|as_crispy_field}}
        {{form.Power_capacity|as_crispy_field}}
        


        <!--Button-->
        <div class="mt-5">
            <hr>
            <button type="submit" class="btn btn-warning btn-width">Submit</button>
            <button type="reset" class="btn btn-secondary ms-2 btn-width">Reset</button>
        </div>
    </form>
</div>
{% endblock content %}