<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="inv.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
  	
  </style>
</head>
<body>
	<div align="center" class="Inventory">
		<h1>ASSET UPDATE</h1>
		<form>
			<select>
				<option></option>
				<option></option>
				<option selected>Asset type</option>
			</select><br />
			<input type="text" name="" placeholder="name"><br />
			<input type="text" name="" placeholder="serial number"><br />
			<input type="text" name="" placeholder="mac address"><br />
			<input type="text" name="" placeholder="memory address"><br />
			<input type="text" name="" placeholder="hard disk drive size"><br />
			<input type="text" name="" placeholder="model"><br />
			<input type="text" name="" placeholder="location"><br />
			<input type="text" name="" placeholder="power capacity"><br />
			<button>ADD</button>			

		</form>
	</div>
</body>
</html>