{% load static %}
<html lang="en" id="bg" style="background-image:url('{%static  "images/bak.png" %}'); background-size:cover; background-repeat:no-repeat; height:100%;display:grid;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />

   <!--user icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!--password icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--Bootstrap cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/LESS.css'%}">
    <title>Document</title>
</head>
<body id="bg" style="background-image:url('{%static  "images/bak.png" %}'); background-size:cover; background-repeat:no-repeat; height:100%;display:grid;" >
  <div class="overlay">
  
   
    <style>
      h5{
          color: #fa870d;
      }
      

       
    </style>
   
   
    <form  action="" method="POST">{%csrf_token%}
      {%for message in messages%}
 
      <h5> {{message}}</h5>
      {%endfor%}
       <!--   con = Container  for items in the form-->+
       <div class="con">
       <!--     Start  header Content  -->
       <img  src="{%static './images/stk4.png'%}">
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
  
            <!--   user name Input-->
             <!--<input class="form-input" id="txt-input" type="text" placeholder="@UserName" required autofocus name="username">-->

             <div class="row">
              <span class="material-symbols-sharp">
                  person
                  </span>
              <input type="text" placeholder="username" name="username" >
          </div>

         
          
         
            <!--   Password -->
            <div class="row">
              <span class="material-symbols-sharp">
                  lock
                  </span>
              <input type="password" placeholder="Password" name="password" >
          </div>
         
         <!--
            Password Input
          <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required >
         --> 
         
         
    <!--      Show/hide password  -->
         
         
          
    <!--        buttons -->
            <div class="row button">
                
                <input type="submit" placeholder="username" value="Login">
            </div>


    <!--      button LogIn -->
        <!--
           <button class="log-in" type="submit" > login</button>
        --> 
      
  
         
    <!--   End Container  -->
      </div>
      
      <!-- End Form -->
    </form>
  </div>
</body>
</html>
